/* ------------------
    Rocket
--------------------*/
.rocket{
    width: 288px;
    height: 213px;
    position: relative;
    margin: 90px auto -10px;
    background-image: url("../img/rocket.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
}

.rocket .fire{
    width: 55px;
    height: 55px;
    background-image: url("../img/fire.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
    position: absolute;
    left: 122px;
    top: 154px;
    -moz-animation: 0.1s ease 0s normal none infinite fire;
    -moz-transform-origin: 50% 50%;
    -webkit-animation:fire 0.1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -o-animation: 0.1s ease 0s normal none infinite fire;
    -o-animation:fire 0.1s infinite ease-in-out;
    -o-transform-origin: 50% 50%;
    -ms-animation: 0.1s ease 0s normal none infinite fire;
    -ms-animation:fire 0.1s infinite ease-in-out;
    -ms-transform-origin: 50% 50%;
    animation: 0.1s ease 0s normal none infinite fire;
    animation:fire 0.1s infinite ease-in-out;
    transform-origin: 50% 50%;
}

@-moz-keyframes fire {
    0%{-moz-transform:rotate(3deg)}
    50%{-moz-transform:rotate(1deg)}
    100%{-moz-transform:rotate(3deg)}
}

@-webkit-keyframes fire {
    0%{-webkit-transform:rotate(13deg)}
    50%{-webkit-transform:rotate(1deg)}
    100%{-webkit-transform:rotate(13deg)}
}

@-o-keyframes fire {
    0%{-o-transform:rotate(3deg)}
    50%{-o-transform:rotate(1deg)}
    100%{-o-transform:rotate(3deg)}
}

@-ms-keyframes fire {
    0%{-ms-transform:rotate(3deg)}
    50%{-ms-transform:rotate(1deg)}
    100%{-ms-transform:rotate(3deg)}
}

@keyframes fire {
    0%{transform:rotate(3deg)}
    50%{transform:rotate(1deg)}
    100%{transform:rotate(3deg)}
}

/* ------------------
    Watch
--------------------*/
#watch{
    color: #f6f7f9;
    text-align: center;
}

#watch .dash {
    display: inline-block;
    padding: 20px 30px;
    line-height: 72px;
    text-align: center;
    margin: 0 -3px;
}

#watch .dash:first-child{
    border-radius: 8px 0px 0px 8px;
    background-color: #ff7000;
}
#watch .dash:last-child{
    border-radius: 0px 8px 8px 0px;
    background-color: #ffb400;
    padding-left: 28px;
    padding-right: 28px;
}

#watch .dash:nth-child(2){
    background-color: #ff9000;
}
#watch .dash:nth-child(3){
    background-color: #ffa100;
}

#watch .dash .digit {
    display: block;
    width: 24px;
    font-size: 44px;
    line-height: 44px;
    height: 38px;
    float: left;
}

#watch .dash .digit .top, #watch .dash .digit .bottom{
    font-weight: 300;
}

#watch .dash span.dash_title {
    font-size: 14px;
    line-height: 16px;
    padding-top: 6px;
    font-weight: 300;
    display: block;
    text-align: center;
    clear: both;
}


/* ------------------
    Footer
--------------------*/
#footer{
    z-index: 9999;
    position: relative;
}
.contact_socials{
    padding: 0;
    margin: 0;
}
.contact_socials li{
    display: inline-block;
}
.copyright {
    font-size: 12px;
    color: #000000;
    margin: 20px 0;
}
.footer_socials {
    margin: 25px 0 10px;
}

.ukie_social{
    font-size: 16px;
    color: #ffffff;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    display: block;
    margin: 5px;
    border-radius: 50%;
    background-color: #ff7000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.ukie_social:hover, .ukie_social:active, .ukie_social:focus{
    color: #ffffff;
    background-color: #ffb400;
}

/* ------------------
    Animationload
--------------------*/
.animationload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    background-image: url("../img/ajax-loader.gif");
    background-position: center;
    background-repeat: no-repeat;
}